@media (prefers-color-scheme: dark) {
  body {
    background-color: var(--clr-dark);
    color: var(--clr-light);
  }

  .heading-primary,
  .heading-secondary,
  .heading-tertiary {
    color: var(--clr-primary-dark);
  }

  img {
    filter: brightness(0.9) contrast(1.1);
  }

  .bio {
    border-left: none;
  }
}
