.hero {
  margin-bottom: 6.4rem;
}

.gradient-background {
  background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
  background-size: 200% 200%;
  animation: gradient 40s ease infinite;
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.profile-title {
  padding: 12.8rem 0 12.8rem 0;
}

.projects > .container {
  margin-bottom: 6.2rem;
}

.bio {
  margin-bottom: 9.6rem;

  /* display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 50px; */
  /* border-left: 5px solid #350035; */
  gap: 50px;
}

.profile-picture {
  margin: 16px auto;
  height: 350px;
  border-radius: 5%;
}

.profile-text {
  font-size: 1.6rem;
  line-height: 1.6;
  /* width: 50%; */
  align-self: center;
}

.projects {
  margin-bottom: 9.6rem;
}

.project-description {
  font-size: 1.6rem;
  line-height: 1.6;
}

.game-field-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(4, 1fr);
  gap: 3px;
  width: 329px;
}

.game-item {
  width: 80px;
  height: 80px;
  color: #fff;
  background-color: inherit;
  font-size: 6.2rem;
}

.game-item > img {
  height: 80px;
  width: 80px;
}

ul {
  list-style: none;
  /* padding-left: 0px; */
}

.social-links {
  display: inline;
  margin: 5px;
}

.social-links-icon {
  font-size: 1.5em;
}

.social-links > a {
  text-decoration: none;
}
